
<div class="container-fluid">
<h1>
  {{title}}</h1>
 
<form [ngFormModel]="testForm">
  <dropahead [options]="options" [fieldName]="'name'" ngControl="stateNameController" [initValue]="alabama"></dropahead>
</form>
   <div class="row">
   </div>
   
 <div *ngIf="!stateNameController.valid " class="alert alert-danger col-md-2" role="alert">
Invalid Option :(
</div>

 <div *ngIf="stateNameController.touched && stateNameController.valid " class="alert alert-success col-md-2" role="alert">
Valid Option :) 
</div>

 
</div>