
<div class="container-fluid">
<h1>
  {{title}}</h1>
 
<form [ngFormModel]="testForm">
  <dropahead [options]="options" [fieldName]="'name'" ngControl="stateNameController" (hasFocus)="stateNameController.hasFocus= $event" [initValue]="alabama"></dropahead>
</form>
   <div >
   </div>
   <br>
 <div *ngIf="!stateNameController.valid && !stateNameController.hasFocus" class="alert alert-danger col-md-2" role="alert">
Invalid Option :(
</div>

 <div *ngIf="stateNameController.touched && stateNameController.valid && !stateNameController.hasFocus" class="alert alert-success col-md-2" role="alert">
Valid Option :) 
</div>

 
</div>