
    .dropaheadcontainer{
      width: 210px;
 
    
    }

.myInput {
position: absolute;
  top: 0;
  left: 0;
  margin-left: 8px;
  margin-right: 8px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 200px;
  height: 40px;
  border: none;
  font: normal 16px/normal Arial, Helvetica, sans-serif;
  color: white;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(255,255,255,0);
    outline: 0 !important;

}
#input-group-container-background {
position: absolute;
    top: 0;
    left: 0;
 width: 216px;
  height: 40px;
  padding: 0px;
 
  border: none;
  
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
  -webkit-filter: blur(2px); /* Chrome, Opera, etc. */
  filter: blur(2px); /* Firefox 35+, eventually all */
}
.input-group-container{
    position: relative;
    width: auto;


}
.dropahead-button{
  position: absolute;
  
    top: 0;
    right: 0;
    margin: 3px 0;
    color: white;
    z-index: 1;
    background: transparent;
    border: none ;
    font-size:24px;
    outline: 0 ;
}
.suggestion-container-background{
position: absolute;
margin-top: 40px;
 width: 216px;
  height: 125px;
  padding: 0px;
 
  border: none;
  
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
  -webkit-filter: blur(2px); /* Chrome, Opera, etc. */
  filter: blur(2px); /* Firefox 35+, eventually all */
}
.suggestion-container{
  margin-top: 40px;
position: relative;
    width: 215px;
    height: 160px;
    overflow: hidden;
}







.dropaheadDiv {
  height: 30px !important;
  border: 2px #87ceda solid;
  border-radius: 3px;
  width: 250px;
  max-width: 300px;
}

input.dropaheadsearch {
  position: relative;
  z-index: 2;
  font-size: 12pt;
  border: none !important;
  background-color: #fff;
  opacity: 1.0;
  outline: 0 !important;
  padding-left: 10px;
  width: 90% !important;
  padding-right: 10px;
}

.dropaheadDropdownButton {

  height: 30px !important;
  position: relative;
  width: 30px !important;
  z-index: 3;
  background-color: #87ceda;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  /*margin-left: 45px !important;*/
}

.suggestionButton {
  transform: rotate(180deg);
}

.suggestions {
margin-top: 40px;
    height: auto;
    max-height: 125px;
    width: 230px;
    padding: 0;
    position: absolute;
    display: block;
    transition: ease-in;
    overflow: auto;
  -webkit-animation: fadein .5s;
  animation: fadein .5s;
  z-index: 1000 !important;
  
  background-color: none;

}


.suggestionsoption {
  background-color: none;
  color: white;
  padding: 10px;
  transition: background 0.2s;
  display: flex;

  text-transform: capitalize;
}

/*.suggestionsoption:hover {
    background: gray;

}*/
.suggestionselected {
  background: rgba(255,255,255, 0.5);
  color: black;


}

span.population {
  font-size: 12px;
}

.details {
  text-align: center;
  font-size: 10px;
}

.hl {
  background: #ffc600;
}

.love {
  text-align: center;
  line-height: 2;
}

a {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.dropaheadDropdownButton {
  height: 25px;
  width: 25px;
  margin-left: -7px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button.clean {

  background: transparent;
  border: none;
  font-size: 12px;

}
