 <div  class="dropaheadcontainer" *ngIf="options">
  <form>
    <!--if the option are array of string the first input will appear
    the (input) passing flag for if the options are object
     -->

     <div class="input-group-container">
  <div class="input-group-container-background"></div>
   <input *ngIf="!fieldName" #typeaheadInputElement (keydown)="keyHandler($event)" (input)="inputChangehandler($event,false)"  class="dropahead-input "  type="text" (focus)="onFocus($event)" (blur)="onBlur($event)" [(ngModel)]="selectedOption" (dblclick)="dropdownHandler()" > 
    <input *ngIf="fieldName" #typeaheadInputElement (keydown)="keyHandler($event)" (input)="inputChangehandler($event,true)"  class="dropahead-input "  type="text" (focus)="onFocus($event)" (blur)="onBlur($event)" [ngModel]="getSelectedOption()" (dblclick)="dropdownHandler()" >
   <!--<span class="dropahead-button" (click)="dropdownHandler()"><button class="clean">▾</button></span>-->
      <button class="dropahead-button" (click)="dropdownHandler()" [class.dropahead-button-hide]="_hasfocus">▾</button>

     </div>
     <div  *ngIf="suggestionsVisiable" class="suggestion-container">
       <div class="suggestion-container-background"></div>
   <ul class="suggestions" #suggestionDiv>
     <span *ngIf="fieldName">
       <li *ngFor="let option of suggestions" class="suggestionsoption"
                                    [class.suggestionselected]="option == highlightedOption"
                                    (click)="optionClickHandler(option)" (mouseenter)="onMouseOver($event,option)">
                                    {{option[fieldName] }}
       </li>
     </span>
     <span *ngIf="!fieldName">
       <li *ngFor="let option of suggestions" class="suggestions"
           [class.suggestionselected]="option == highlightedOption"
           (click)="optionClickHandler(option)" (mouseenter)="onMouseOver($event,option)">{{option}}
       </li>
     </span>
  </ul>
  </div>
    </form>
  </div>
